.promos {
    @include cajasflex(flex, row, center, center);
    margin: 30px;
    .promos__img {
        height: 450px;
        width: 450px;
        margin: 30px;
        border-radius: 5%;
        img {
            height: 450px;
            width: 450px;
            border-radius: 5%;
        }
    }
    .promos__txt {
        @include cajasflex(flex, column, center, center);
        @include cajastyle(450px, 450px, auto, 2em, center, lightpink, 6px solid black, 5%);
    }
}





